@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body #root {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}

body .title {
  font-size: 2.8rem;
}

body #bg {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #104197;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

body .card {
  background: #fff;
  padding: 0.8rem;
  margin: 0.8em auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 50%;
}

body .card-label {
  font-size: ".8rem";
}

body li .link {
  text-decoration: none;
}

body hr {
  width: 90%;
  border: 0.1 solid rgba(0, 0, 0, 0.1);
}

.delete {
  display: none;
  position: absolute;
  right: 25px;
}

.link:hover .delete {
  display: block;
}

@media screen and (max-width: 1200px) {
  body .card {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  body .title {
    font-size: 2.3rem;
  }

  body .card {
    width: 85%;
  }

  /* Override bootstrap class */
  body .d-none {
    display: block !important;
  }

  .delete {
    position: relative;
    right: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 435px) {
  body .title {
    font-size: 2rem;
  }

  body .card {
    width: 100%;
  }
}
